*{ 
    box-sizing: border-box;
margin: 0;

}
body{
    background: url('https://i.blogs.es/38b7ad/130420-oriend/1366_2000.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: whitesmoke;
    font-family: helvetica;
    background-attachment: fixed;
    

}
nav{background-color:rgba(156,166, 199, 0.112) ;
width: 100%;

}
.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
main{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button a{
    background-color: transparent;
    text-decoration:none;
    color: rgb(255, 255, 255);
    display: block;
    padding: 15px 50px;
    
}
.menu .button{
    display: inline-block;
}
.lista-r{
    float: right;
}
.button
 a:hover{
    background-color: rgb(132, 0, 247);
}

img{
    margin-top: 10px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 5px solid white;
}
p{
    font-size: 22px;
    font-weight: 600;
    
}

.container{
    display: flex;
    flex-direction:row;
    width: 100%;
}

input{
    border: 0;
    padding: 10px;
    font-size:35px;
    margin: 5px;
    background-color: white;
}
label{
    font-size: 22px;
    font-weight: 600;

}

input::placeholder{
    color:rgb(85, 84, 84);
}
input:focus{
    outline: none;
    background-color: white;
}

#modelo{
    width: 100%;
}
#propietario{
width: 100%;
}
#placa{
    width: 98%;
}
#tipo{
    width:100% ;
}
#ss{
    padding: 10px;
    margin: 0 auto; 
   width: 107vh;   
   display: row;
   justify-content: center;
   align-items: center;
   background-color: rgb(77, 146, 236);
}
button[type="submit"]{
    background:rgb(255, 255, 255) ;
    color :rgb(7, 7, 7);
    padding: 10px;
    font-weight: 600;
    border-radius: 5px;
    background-position: center;
}

